@model IEnumerable<RouteListingServiceModel>

@{
    ViewBag.Title = "Routes";
}

<h1>Routes</h1>

<div>
    @foreach (var route in Model)
    {
        <div class=col-sm-6>
            <partial name="_Summary" model="route" />
        </div>
    }
</div>

