@model UserListingViewModel

@{
    ViewBag.Title = "Users";
}
<h1>All users</h1>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    UserName
                </th>
                <th>
                    TravelCardId
                </th>
                <th>
                    Email
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>
                        @user.UserName
                    </td>
                    <td>
                        @user.TravelCardId
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        <a asp-action="TravelLogs" asp-route-id="@user.Id" class="btn btn-primary">Travel Log</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>