<main class="mt-3">
    <h1 class="text-center">Create Product</h1>
    <hr class="bg-secondary" />
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order ID</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Product</th>
                    <th scope="col">Ordered On</th>
                </tr>
            </thead>
            <tbody>
                {{{orders}}}
            </tbody>
        </table>
    </div>
</main>