@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Index";
}
<div>
    <br />
    <br />
    <h2 align="center">Welcome to the User Area of the Site</h2>
    <br />
    <br />
</div>