@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <p>Metro2036 is a FinaleProject for the Course C# MVC Frameworks - ASP.NET Core - Jul 2018</p>
    <p>It is still work in progress!</p>
</div>